<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if template == 'index' %}
    <title>{% comment %}{{ shop.name }} | {% endcomment %}{{ page_title }}</title>
    {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
    <title>{{ page_title }}{% comment %} | {{ shop.name }}{% endcomment %}</title>
    {% endif %}
    {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="initial-scale=1, minimal-ui"/>
    {{ content_for_header }}
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    
    <div id="cart-link">
        {% if template != 'index' and cart.item_count > 0 %}
        <a href="/cart" class="cart-count">Cart: {{ cart.item_count }}</a>
        <a href="/cart" class="checkout">Checkout</a>
        {% endif %}
    </div>
    <header>
        <div id="mobile-menu">
            <div class="mobile-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="logo-nav">
            {% if settings.use_logo %}
            <h1>
                <a href="/">
                    <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
                </a>
            </h1>
            {% if template == 'index' %}
                <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
            {% endif %}
            {% else %}              
                <h1><a href="/">{{ shop.name }}</a></h1>
            {% endif %}

            <nav>
                <ul>
                    {% for link in linklists.main-menu.links %}
                    {% if linklists[link.handle] == empty %}
                        <li>
                            <a href="{{ link.url }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="{{ link.url }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>

                            {% if link.type == 'collection_link' and link.object.tags.size > 0 %}
                              <ul class="dropdown">
                                {% for l in linklists[link.handle].links %}
                                    <li><a href="{{ l.url }}"{% if l.active %} class="current"{% endif %}>{{ l.title }}</a></li>
                                {% endfor %}
                              </ul>
                            {% endif %}


                        </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    
    {{ content_for_layout }}
    
    <footer>
        <div class="foot-nav clearfix">
            <p>&copy; MONASWIMS 2014</p>
            <nav>
                <ul>
                {% for footLink in linklists.footer.links %}
                    <li><a href="{{ footLink.url}}">{{ footLink.title | upcase}}</a></li>
                {% endfor %}
                </ul>
            </nav>
        </div>
        
        <div class="social-email">
        {% if template != 'index'%}
            <span class="email-signup">
                <form action="//monaswims.us3.list-manage.com/subscribe/post?u=4be8a4201576d38dae23afb22&amp;id=abe7e1b835" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <p class="news-head"><label for="mce-EMAIL">Newsletter</label></p>
                    <p><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    <input type="submit" value="Subscribe" name="subscribe"></p>
                </form>
            </span>
        {% endif %}
            <ul>
                <li><a href="http://instagram.com/monaswims" target="_blank" class="social-icon instagram">Instagram</a></li>
                <li><a href="http://www.facebook.com/monaswimwear" target="_blank" class="social-icon facebook">Facebook</a></li>
                <li><a href="http://www.twitter.com/MONA_swims" target="_blank" class="social-icon twitter">Twitter</a></li>
            </ul>
        </div>
    </footer>

    {{ 'mousewheel.js'  | asset_url | script_tag }}
    {{ 'jquery.zoom.min.js'  | asset_url | script_tag }}
    {{ 'shop.js'  | asset_url | script_tag }}

</body>
</html>